.features {display:flex; list-style: none; background:$white;}
.features__icons {width:270px;
        &:not(:last-child) { margin-right: 30px;}
        &::before {display:block;
            content:"";
            background: $light;
            border-radius: 4px; width:270px; height:120px; background-repeat: no-repeat; background-position: center;margin-bottom: 30px;}}
    .features__details::before {background-image: url(../images/иконки/details.svg);}
    .features__punctuality::before {background-image: url(../images/иконки/punctuality.svg);width: 270px;}
    .features__planning::before {background-image: url(../images/иконки/planning.svg);}
    .features__astronaut::before {background-image: url(../images/иконки/astronaut.svg);}
    .features__vector::before {display: inline; align-items: center; }
    .features__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $black;margin-bottom: 10px;}
    .features__text {
        max-width: 270px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $grey; 
        display:flex;}