.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  @include mq(desk) {padding: 200px 0;}
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/office-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(retina) {background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/office-mobile.jpg);}
  @include mq(tab) {background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/office-tablet.jpg);}
  @include mq(retina) {background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/office-tablet.jpg);}
  @include mq(desk) {background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/office.jpg);}
  @include mq(retina) {background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/office.jpg);}
    &__header {
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color:#FFFFFF ;
      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;}
    }
  }







    
   
    