.hero-section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/office-mobile.jpg);
    background-position: center;
    background-color:  #2F303A;
@include tablet{background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/office-tablet.jpg);}
@include desktop{background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/office.jpg);}}
.hero {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  }
.hero__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
    display:flex; 
 
    margin-bottom: 30px;}
.order {max-height: 50px; max-width: 200px;}
    
   
    