.button {
        padding: 10px 32px; 
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color:#FFFFFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
        border-radius: 4px;cursor:pointer;
        &:hover {padding: 10px 32px; 
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color:#FFFFFF;
        background: #2196F3;}}
 button {
        border:0;
        appearance: auto;
        writing-mode: horizontal-tb;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: pointer;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        box-shadow: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height:1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; display: flex; justify-content: center; align-items: center;
        padding-right: 0px;}
    
.all-button {list-style: none;display: flex; justify-content: center; padding-bottom: 50px;}
.button1 {
        border:0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        padding: 6px 22px;
        color:#FFFFFF;;
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;margin-right: 8px;border-color: #F5F4FA; }
.allbuttons {
        border:0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        padding: 6px 22px;
        left: 576px;
        top: 174px;
        background: #F5F4FA;
        border-radius: 4px;display: flex; margin-right: 8px; border-color: #F5F4FA;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {color: #FFFFFF;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}}
    
   
    