* { margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
    text-decoration: none;}
h1,
h2,
h3,
h4,
h5,
h6,
p { margin: 0;}
 ul, ol {margin:0;padding-left:0;}
 
button {cursor:pointer;}
body {
   margin:0 auto; 
   font-family:"Roboto", sans-serif;
   font-size: 14px;
   line-height: 1.17;
   letter-spacing: 0.02em;
   color: #212121;}


img {
    display: block;
    max-width: 100%;
    height: auto;
    width:100%;
  }