:root {
    /* Основные шрифты и цвета */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    $black: #212121;
    $grey: #757575;
    $white: #FFFFFF;
    $blue: #2196F3;
    $light: #F5F4FA;
    $rgba: rgba(255, 255, 255, 0.6);}